@import "../src/style.css";
.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* grid-cols-2 */
    gap: 3rem;
    color: #ffffff;
}

.image_wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 29.875rem;
    border-radius: 10px;
}

.pain-points {
    flex-direction: row-reverse;
    margin-bottom: 3rem;
}
.section div h3 {
    font-weight: 600;
    margin-bottom: 12px;
}
.section div h4 {
    font-weight: 600;
    margin-bottom: 12px;
}
.section div .H6 {
    font-weight: 500;
    margin-bottom: 12px;
}

.image_wraper img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
}

.section div {
    flex: 1;
}

.solution-overview {
    flex-direction: row;
    margin-bottom: 3rem;
}

.overview-section {
    background-color: var(--color-warning_dark);
    padding: 80px 0;
}
.overview {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 1.5rem;
}
.overview div {
    display: flex;
    align-items: center;
    gap: 8px;
}
@media (max-width: 768px) {
    .pain-points {
        margin-bottom: 1rem;
    }
    .solution-overview {
        margin-bottom: 1rem;
    }
    .section {
        grid-template-columns: repeat(1, 1fr); /* grid-cols-2 */
        gap: 1rem;
    }
    .image_wraper {
        height: 15.875rem;
    }
}
