@import "../src/style.css";
.choose-header {
    max-width: 34.75rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.choose-header h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
}

/* // swiper */

.custom-slider {
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    gap: 8px;
}

.slide {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    border: none;
    background-color: var(--color-warning_main);
    padding: 12px;
    border-radius: 50%;
}

.slider-prev {
    left: 10px;
}
.slider-prev img {
    transform: rotate(180deg);
}
.slider-next {
    right: 10px;
}

.slider-dots {
    text-align: center;
    padding: 10px 0;
}

.slider-dots .dot {
    width: 12px;
    height: 12px;
    background: gray;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border: none;
}

.slider-dots .dot.active {
    background-color: var(--color-warning_main);
}

/* // card */

/* Card Styling */
.image-card {
    position: relative;
    width: 100%;
    height: 25.5rem;
    border-radius: 8px;
    overflow: hidden;
    background-image: url("/src/images/7ce2691f10514a66adfb63f38260c10a\ 1@2x.png");
    background-size: cover;
    background-position: center;
}

/* Overlay Content */
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

    color: var(--color-white);
}

.card-title {
    font-weight: 600;
    margin-bottom: 8px;
}

.card-description {
    font-weight: 500;
}
@media (max-width: 768px) {
    .custom-slider {
        margin-top: 1rem;
    }
    .image-card {
        height: 14rem;
    }
    .slider-prev,
    .slider-next {
        padding: 8px;
    }

    .review-card {
        padding: 1rem;
        margin: 16px auto;
    }

    .review-content {
        font-size: var(--font-size-sm) !important;
        margin-bottom: 16px !important;
    }

    .review-author {
        display: flex;
        align-items: center;
    }

    .author-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 12px;
    }
    .rating {
        font-size: var(--font-size-sm);
    }
    .rating_wraper h2 {
        margin-bottom: 0.8rem !important;
    }
}

.rating_wraper {
    max-width: 59.75rem;
    width: 100%;
    margin: 2rem auto;
}
.rating_wraper h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.review-card {
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0px 25px 52px -12px #1111111a;
    border: 1px solid #e9eff7;
    max-width: 636px;
    margin: 20px auto;
}

.review-content {
    font-size: var(--font-size-lg);
    color: var(--color-black_800);
    margin-bottom: 30px;
}

.review-author {
    display: flex;
    align-items: center;
}

.author-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
}

.author-name {
    font-weight: 600;
    color: var(--color-gray_700);
}

.rating {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: var(--font-size-lg);
    color: var(--color-black_800);
}

.star {
    color: #ffcc00; /* Star color */
    margin-left: 5px;
}
