@import '../src/style.css';
.banner {  
    position: relative;  
    width: 100%;  
    height: 45rem;  
    overflow: hidden;  
    background-image: url('/src/images/7ce2691f10514a66adfb63f38260c10a\ 1@2x.png'); /* Replace with your image URL */  
    background-size: cover;  
    background-position: center;  
    display: flex;  
    align-items: center;  
    color: #fff;  
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);   */
 
}  

.banner-content{

    max-width: 76rem; /* Adjust the max width as needed */  
    width: 100%;
    margin: 0 auto; /* Center the container */  
    padding: 0 1rem; /* Add side padding */ 
}

.banner h1 {  
    font-size: 36px;  
    margin-bottom: 10px;  
}  

.banner p {  
    font-size: 18px;  
    margin-bottom: 20px;  
}  

.customer-count{
    font-weight: 600;
    padding:  0.625rem 1rem;
    background: white;
    color:var(--color-black_800) ;
    border-radius: 100px;
    margin-left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 

 

@media (max-width: 768px) {  
    .banner { 
        justify-content: center;
        align-items: center;
        height: 91vh; 
    }

    .shop-button {  
        font-size: 14px;  
    }  
    .gallery img {  
        width: 42px; /* Adjust for smaller screens */  
        height: 42px;  
    }  
    .content-wraper{
        align-items: center;
    }
}  

.gallery {  
    display: flex;  
   
}  

.gallery img {  
    width: 42px; /* Adjust width as needed */  
    height: 42px; /* Keep height equal to width for uniformity */  
    border-radius: 50%; /* Circular shape */  
    object-fit: cover; /* Ensures images cover the circle */  
    border: 3px solid #fff; /* Optional: add a white border */  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional: slight shadow for depth */  
}  

.img2{
    margin-left: -8px;
}
.img3{
    margin-left: -16px;
}

.banner-content h3{

    font-weight: 600;
    margin-bottom: 1rem;
}

.banner-content p{
    margin-bottom: 42px;
}
.content-wraper{
    max-width: 37rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}